/* styles in src/style directory are applied to the whole page */

body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}


html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Source Sans Pro', sans-serif;
}

.pure-g > div {

    box-sizing: border-box;
}

#title-bar {
  height: 12vh;
}
#title-bar h1 {
  margin: 0; padding: 0;
  line-height: 12vh;
}
h1 .appName { font-weight: 200; }
h1 .category { font-weight: 700; }

#categoryList .category {
  height: 26vh;
  padding: .5vh .5vh;
}

#categoryList .category span{
  background-color: #eee;

  display: block;
  font-size: 1.4em;
  padding: 2em .5em 1em .5em;
  line-height: 1.4em;
  height: 100%;
  box-sizing: border-box;

}
#categoryList .category span.oversize{
  padding-top: 1.4em;
}

footer {
  height: 10vh;
}
